# IDEs and editors
.vs
.vscode
.idea

# Build and Object Folders
obj/
bin/
App_Data/

# Nuget pakcages directory
packages/

# User-specific files
*.suo
*.user
*.sln.docstates

# Visual Studio profiler
*.psess
*.vsp
*.vspx